/* Basic reset for styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body, html {
    height: 100%;
    font-family: Arial, sans-serif;
} */

/* .header-class {
    background-color: #f5f5f5;

} */

.container {
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    /* align-items: start; */
    /* justify-content: center; */
    padding: 20px;
    background-color:#f5f5f5;
    margin : 10px;
    flex-wrap: wrap;
    align-items: centers ;
}
.image-container img {
    display: flex;
    justify-content: center;
    width: 140px;
    height: 140px;
    /* border: 1px solid black; */
 /* Adjust height based on the aspect ratio of the image */
 
}
.sub-name{
    display: flex;
    padding-left: 5px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    justify-content:space-evenly;
    flex-shrink: 0;
}

.text-container {
    /* Adjust width as needed */
    width: 60%;
    padding: 20px;
    padding-left: 150px;
    /* background-color: #f5f5f5; Light grey background for the text container */
}

/* .text-container h1 {
    margin-bottom: 15px;
} */

.text-container p {
    font-size: 20px;
    font-family:"Roboto mono", monospace;
    line-height: 1.6;
    color: #333; /* Dark grey text color */
    flex-grow:1;
    align-items: c;
}
